<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>webpack App</title>
    <link rel="stylesheet" href="../style.scss" type="scss">
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="#1">tynkarz</a></li>
            <li><a href="#2">malarz</a></li>
            <li><a href="#3">akrobata</a></li>
        </ul>
    </div>
    <!-- <img src="../head.png"> -->
    <div class="wiz">

        <h2>PAN ANDRZEJ</h2>
        <p>tynkarz, malarz, akrobata</p>
    </div>
    <div class="zaw" id="1">
        <div class="lewo1">
            <h2>tynkarz</h2>
        </div>
        
        
    </div>
    <div class="zaw" id="2">
        malarz
    </div>
</body>

</html>