<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>webpack App</title>
    <link rel="stylesheet" href="../style.scss" type="scss">
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="#1">tynkarz</a></li>
            <li><a href="#2">malarz</a></li>
            <li><a href="#3">akrobata</a></li>
        </ul>
    </div>
    <!-- <img src="../head.png"> -->
    <div class="wiz">

        <h2>PAN ANDRZEJ</h2>
        <p>tynkarz, malarz, akrobata</p>
    </div>
    <div class="zaw" id="1">
        <div class="left">
            <h2>tynkarz</h2>
        </div>
        <div class="right container-fluid container-md">
            <div class="row row-cols-1  row-cols-md-4">
                <div id="prawo1_1" class="col col-md">
                    <div>
                        <p>nakładanie wapiennych warstw tynkarskich</p>
                    </div>
                </div>
                <div id="prawo1_2" class="col">
                    <div>
                        <p>nakładanie cementowych warstw tynkarskich</p>
                    </div>
                </div>
            
                <div id="prawo1_3" class="col">
                    <div >
                        <p>nakładanie żywicznych warstw tynkarskich</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4">
                <div id="prawo1_4" class="col">
                    <div>
                        <p>nakładanie alabastrowych warstw tynkarskich</p>
                    </div>
                </div>
            
                <div id="prawo1_5" class="col">
                    <div>
                        <p>nakładanie płyt gipsowo-kartonowych</p>
                    </div>
                </div>
                <div id="prawo1_6" class="col">
                    <div>
                        <p>nakładanie płyt cementowo-włóknowych</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="zaw" id="2">
        <div class="left ">
            <h2>malarz</h2>
        </div>
        <div class="right container-fluid container-md">
            <div class="row row-cols-1 row-cols-md-4">
                <div id="mal1" class="col">
                    <div>
                        <p>obrazy hiperrealistyczne</p>
                    </div>
                </div>
                <div id="mal2" class="col">
                    <div>
                        <p>obrazy pejzażowe</p>
                    </div>
                </div>
            
                <div id="mal3" class="col">
                    <div>
                        <p>obrazy portretowe</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4">
                <div id="mal4" class="col">
                    <div>
                        <p>obrazy religijne/mitologiczne</p>
                    </div>
                </div>
            
                <div id="mal5" class="col"> 
                    <div>
                        <p>malarstwo monumentalne</p>
                    </div>
                </div>
                <div id="mal6" class="col">
                    <div>
                        <p>graffiti</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="zaw" id="3">
        <div class="left">
            <h2>akrobata</h2>
        </div>
        <div class="right container-fluid container-md">
            <div class="row row-cols-1 row-cols-md-4">
                <div id="akr1" class="col">
                    <div >
                        <p>akrobatyka powietrzna</p>
                    </div>
                </div>
                <div id="akr2" class="col">
                    <div >
                        <p>akrobatyka na kole</p>
                    </div>
                </div>
            
                <div id="akr3" class="col">
                    <div>
                        <p>akrobatyka sportowa</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4">
                <div id="akr4" class="col">
                    <div>
                        <p>gimnastyka artystyczna</p>
                    </div>
                </div>
            
                <div id="akr5" class="col">
                    <div>
                        <p>akrobatyka na szarfach</p>
                    </div>
                </div>
                <div id="akr6" class="col">
                    <div>
                        <p>akrobatyka na koniu (woltyżerka)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row row-cols-1 row-cols-md-4">

        <div id="c2" class="col">
            <h3>KONTAKT</h3>
            <a href="mailto:pan.andrzej@gamil.com">pan.andrzej@gmail.com</a>
            <p>tel. +48 567 294 902</p>
            <a href="https://www.linkedin.com/in/alicja-wojtkowska-26a858201?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BEL775qnZTkK8GQKcB2Xm7A%3D%3D">linkedin</a>
        </div>
        <div id="c3" class="col">
            <h3>INFO</h3>
            <a href="https://twitter.com/coffee_dad">twitter</a><br>
            <a href="https://www.instagram.com/tasteofstreep/">instagram</a><br>
            <a href="https://www.facebook.com/Pringlescanman/">strona na facebooku</a>
        </div>
        <div id="c4" class="col">
            <h3>Copyright &copy; 2021 Alicja Wojtkowska </h3>
        </div>
        
        </div>
    </footer>
</body>

</html>